<main class="container">
    <div class="card bg-dark text-white"> 
        <img src="https://live.staticflickr.com/6043/6262122778_997339a086_b.jpg&auto=format&fit=crop&w=1950&q=80" alt="record needle & record" class="img-fluid card-img" style="max-width: 100%; height: auto;">
        <div class="card-img-overlay text-center">
            <a href="/articles/"><button type="button" class="btn btn-lg btn-outline-secondary">Enter Now!</button></a>
            <p class="text-secondary mt-5 ml-5">Articles from NPR's current Political News. Save what peaks your faves and make notes.</p>
        </div>
    </div>
<main>