<header class="jumbotron jumbotron-fluid vh-100">
    <div class="container-fluid py-4">
        <h1 class="display-4 mt-auto">Scrape the latest NYT Headlines!</h1>
        <h3 class="mb-auto">MongoDB brings you the most current NYT news.</h3>
    </div>
</header>
<main class="container">
    {{#each article}}
        {{#unless saved}}
            {{> articles/unsaved}}
        {{/unless}}
    {{/each}}
</main>